@* 
    Copyright © 2022-Present The Synapse Authors
    <p>
    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at
    <p>
    http://www.apache.org/licenses/LICENSE-2.0
    <p>
    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
*@

@page "/correlations"
@using Neuroglia.Data
@using Neuroglia.Data.Flux
@using Synapse.Integration.Models
@using System.Reactive.Linq
@inherits StatefulComponent<V1WorkflowCollectionState>
@inject IServiceProvider ServiceProvider
@inject IBreadcrumbService BreadcrumbService
@inject NavigationManager NavigationManager

<PageTitle>Correlations</PageTitle>
<AppRightSidebar>
    <Toolbar>
        
    </Toolbar>
</AppRightSidebar>
<Table Items="correlations">
    <Columns>
        <Column T="V1Correlation" 
            Name="Contexts"
            ValueProvider="g => g.Contexts.Count" />
        <ViewDetailsColumn T="V1Correlation" />
    </Columns>
</Table>

@code {

    private IDisposable? _Subscription;
    private ODataQueryable<V1Correlation> correlations;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        this.correlations = new(this.ServiceProvider);
        await this.BreadcrumbService.Use(KnownBreadcrumbs.Correlations);
    }

    void OnViewCorrelation(V1Correlation correlation)
    {
        this.NavigationManager.NavigateTo($"/correlations/{correlation.Id}");
    }

}
