@* 
    Copyright © 2022-Present The Synapse Authors

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
*@
@namespace Synapse.Dashboard
@inject IMonacoEditorHelper MonacoEditorHelper
@implements IDisposable

<div class="form-check form-switch">
    <input class="form-check-input" type="checkbox" role="switch" id="toggle-language" checked="@isJsonSelected" @onchange="ToggleLanguage">
    <label class="form-check-label" for="toggle-language">@this.MonacoEditorHelper.PreferedLanguage</label>
</div>

@code {

    [Parameter] public EventCallback<string> PreferedLanguageChange { get; set; }

    protected bool isJsonSelected { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        this.isJsonSelected = this.MonacoEditorHelper.PreferedLanguage == PreferedLanguage.JSON;
    }

    protected virtual async Task ToggleLanguage(ChangeEventArgs e)
    {
        if (this.MonacoEditorHelper.PreferedLanguage == PreferedLanguage.JSON) {
            await this.MonacoEditorHelper.ChangePreferedLanguage(PreferedLanguage.YAML);
        }
        else
        {
            await this.MonacoEditorHelper.ChangePreferedLanguage(PreferedLanguage.JSON);
        }
    }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        this.MonacoEditorHelper.PreferedLanguageChanged += this.HandlePreferedLanguageChange;
    }

    protected async Task HandlePreferedLanguageChange(string language)
    {
        this.isJsonSelected = this.MonacoEditorHelper.PreferedLanguage == PreferedLanguage.JSON;
        await this.PreferedLanguageChange.InvokeAsync(language);
        this.StateHasChanged();
    }

    public void Dispose()
    {
        if (this.MonacoEditorHelper != null)
            this.MonacoEditorHelper.PreferedLanguageChanged -= this.HandlePreferedLanguageChange;
        GC.SuppressFinalize(this);
    }
}
