﻿@*
    Copyright © 2024-Present The Synapse Authors

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
*@

@namespace Synapse.Dashboard.Components
@using ServerlessWorkflow.Sdk.Models
@inject MonacoInterop MonacoInterop
@inject IJsonSerializer Serializer

<MonacoEditor OnTextChanged="OnTextChanged" ModelName="@modelName" Document="input" />
<div class="text-center">
    <Button Outline="true" Color="ButtonColor.Primary" class="m-auto mt-3" @onclick="async (_) => await OnStart()">
        <Icon Name="IconName.Play" />
        Start
    </Button>
</div>

@code {
    string payload = string.Empty;
    string modelName = string.Empty;
    EquatableDictionary<string, object>? input;

    [Parameter] public WorkflowDefinition? WorkflowDefinition { get; set; }
    [Parameter] public EquatableDictionary<string, object>? Input { get; set; }
    [Parameter] public EventCallback<string> OnCreate { get; set; }

    void OnTextChanged(string value)
    {
        payload = value;
    }

    async Task OnStart()
    {
        if (OnCreate.HasDelegate)
        {
            await OnCreate.InvokeAsync(payload);
        }
    }

    protected override async Task OnParametersSetAsync()
    {
        await base.OnParametersSetAsync();
        if (Input != input)
        {
            input = Input;
        }
        if (WorkflowDefinition?.Input?.Schema?.Document != null)
        {
            modelName = WorkflowDefinition.Document.Name + "-" + WorkflowDefinition.Document.Version;
            await MonacoInterop.AddValidationSchemaAsync(Serializer.SerializeToText(WorkflowDefinition.Input.Schema.Document), $"https://synapse.io/schemas/{modelName}.json", $"{modelName}*").ConfigureAwait(false);
        }
    }

}
