@page "/workflows"
@using Neuroglia.Data
@using Synapse.Integration.Models
@inject IServiceProvider ServiceProvider
@inject IBreadcrumbService BreadcrumbService
@inject NavigationManager NavigationManager

<PageTitle>Workflows</PageTitle>
<AppRightSidebar>
    <Toolbar>
        <button @onclick="OnNewWorkflow" class="btn btn-outline-dark" title="New workflow"><span class="oi oi-plus"></span></button>
    </Toolbar>
</AppRightSidebar>
@*<DataTable DataSource="new ODataQueryable<V1Workflow>(this.ServiceProvider)" AutoGenerateColumns="true" OrderByDefault="(IQueryable query) => ((IQueryable<V1Workflow>)query).OrderBy(c => c.Id)" />*@

@code {

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        await this.BreadcrumbService.Use(KnownBreadcrumbs.Workflows);
    }

    void OnNewWorkflow()
    {
        this.NavigationManager.NavigateTo("/workflows/new");
    }

}
