@page "/workflows"
@using Neuroglia.Data
@using Synapse.Integration.Models
@using Synapse.Integration.Services
@using Synapse.Dashboard.Components
@inject IServiceProvider ServiceProvider
@inject NavigationManager NavigationManager

<PageTitle>Workflows</PageTitle>
<AppHeader>
    <span class="h5 m-0 p-0">Workflows</span>
    <button @onclick="OnNewWorkflow" class="btn btn-outline-dark" title="New workflow"><span class="oi oi-plus"></span></button>
</AppHeader>

<DataTable DataSource="new ODataQueryable<V1WorkflowDto>(this.ServiceProvider)" AutoGenerateColumns="true" OrderByDefault="(IQueryable query) => ((IQueryable<V1WorkflowDto>)query).OrderBy(c => c.Id)" />

@code {

    void OnNewWorkflow()
    {
        this.NavigationManager.NavigateTo("/workflows/new");
    }

}
