.node {
    rect,
    circle,
    ellipse {
        stroke: #333;
        fill: #fff;
        stroke-width: 1px;
    }

    .label div {
        text-align: center;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
}

.edge-path {
    path {
        fill: none;
        stroke: #333;
        stroke-width: 1.5px;
    }
}

.cluster {
    .label div {
        text-align: center;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    rect {
        fill: rgba(0,0,0,0.2);
    }
}

rect {
    &.selected {
        stroke: #154d04;
        fill: #e2f5dc;
    }
}