.graph-container {
    width: 100%;
    height: 100%;
}

.node {
    rect,
    circle,
    ellipse {
        stroke: #333;
        fill: #fff;
        stroke-width: 1px;
    }
}

.edge-path {
    path {
        fill: none;
        stroke: #333;
        stroke-width: 1.5px;
    }
}

.cluster {
    rect {
        fill: rgba(0,0,0,0.2);
    }
}

.label div {
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

#end-arrow {
    fill: #333;
}