@* 
    Copyright © 2022-Present The Synapse Authors
    <p>
    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at
    <p>
    http://www.apache.org/licenses/LICENSE-2.0
    <p>
    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
*@

@namespace Synapse.Dashboard
@implements IAccordionModel

<div>
    <div @onclick="ToggleExpandAsync">
        @Header
    </div>
    @if (IsExpanded)
    {
        <div class="collapse show">
            @Body
        </div> 
    }
</div>

@code 
{

    [Parameter] public RenderFragment Header { get; set; }

    [Parameter] public RenderFragment Body { get; set; }

    /// <summary>
    /// Gets a boolean indicating whether or not the <see cref="Collapse"/> is expanded
    /// </summary>
    [Parameter] public bool IsExpanded { get; set; }

    /// <summary>
    /// Gets the <see cref="EventCallback"/> to invoke whenever the <see cref="Collapse"/> is being expanded or collapsed
    /// </summary>
    [Parameter] public EventCallback<ChangeEventArgs> OnToggleExpand { get; set; }

    public bool AllowsMultiple { get; set; } = true;

    public async Task ToggleExpandAsync()
    {
        this.IsExpanded = !this.IsExpanded;
        //this.StateHasChanged();
        if (this.OnToggleExpand.HasDelegate) {
            await this.OnToggleExpand.InvokeAsync(new() { Value = this.IsExpanded });
        }
    }

}
