.search-box {

    .input-left {
        position: relative;
        z-index: 3;

        input {
            padding-right: 3rem;
            border-top-right-radius: 0 !important;
            border-bottom-right-radius: 0 !important;
        }
    }

    .input-group-append {
        margin-left: 0;
        border-top-left-radius: 0 !important;
        border-bottom-left-radius: 0 !important;

        .btn {
            border-top-left-radius: 0 !important;
            border-bottom-left-radius: 0 !important;
        }
    }

    .btn {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;

        i {
            color: var(--bs-primary);
            margin: 0;
        }
    }

    .reset {
        width: 2.5rem;
        position: absolute;
        right: 0;
        top: 0;
        padding: 0;
    }
}
