.search-box .input-left {
  position: relative;
  z-index: 3;
}
.search-box .input-left input {
  padding-right: 3rem;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}
.search-box .input-group-append {
  margin-left: 0;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
.search-box .input-group-append .btn {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
.search-box .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.search-box .btn i {
  color: var(--bs-primary);
  margin: 0;
}
.search-box .reset {
  width: 2.5rem;
  position: absolute;
  right: 0;
  top: 0;
  padding: 0;
}
