@namespace Synapse.Dashboard

<div class="form-group mb-3">
    <div class="input-group">
        <input class="form-control border-end-0 border rounded-2" type="text" placeholder="@PlaceHolder" value="@Term" @onchange="OnTermInputChange">
        <button type="button" class="btn bg-transparent" style="margin-left: -40px; z-index: 100;" @onclick="OnClearButtonClick">
            <i class="oi oi-x"></i>
        </button>   
        <span class="input-group-append">
            <button class="btn btn-outline-secondary bg-white border-start-0 border rounded-2 ms-n3" type="button" @onclick="OnSearchButtonClick">
                <i class="oi oi-magnifying-glass"></i>
            </button>
        </span>
    </div>
</div>
@code {

    [Parameter] public string? PlaceHolder { get; set; } 

    [Parameter] public EventCallback<string> OnTermChange { get; set; } 

    [Parameter] public EventCallback<string> OnSearch { get; set; } 

    [Parameter] public EventCallback<string> OnClear { get; set; } 

    public string? Term { get; private set; }

    private async Task OnTermInputChange(ChangeEventArgs e)
    {
        this.Term = e.Value as string;
        await this.OnSearch.InvokeAsync(this.Term);
    }

    private async Task OnSearchButtonClick(MouseEventArgs e)
    {
        await this.OnSearch.InvokeAsync(this.Term);
    }

    private async Task OnClearButtonClick(MouseEventArgs e)
    {
        this.Term = string.Empty;
        await this.OnClear.InvokeAsync(this.Term);
    }

}
