@namespace Synapse.Dashboard
@page "/"
@using Synapse.Dashboard.Features.Test
@using System.Dynamic
@using System.Collections.ObjectModel
@inject IBreadcrumbService BreadcrumbService

<PageTitle>Overview</PageTitle>
<AppHeader>
    <span class="h5 m-0 p-0">Overview</span>
</AppHeader>

Welcome to Synapse - Serverless Workflow Management System

@code{
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        await this.BreadcrumbService.Use(KnownBreadcrumbs.Home);
    }
}