@page "/"
@using Synapse.Dashboard.Components

<PageTitle>Overview</PageTitle>
<AppHeader>
    <span class="h5 m-0 p-0">Overview</span>
</AppHeader>

Welcome to Synapse - Serverless Workflow Management System
