@*
    Copyright © 2022-Present The Synapse Authors

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
*@

@page "/schedules"
@inherits StatefulComponent<ScheduleCollectionState>
@inject IBreadcrumbManager BreadcrumbManager
@inject NavigationManager NavigationManager

<PageTitle>Schedules</PageTitle>

<AppRightSidebar>
    <Toolbar>
        <button @onclick="OnNewSchedule" class="btn btn-outline-dark" title="New schedule"><small class="bi bi-plus"></small><span class="btn-label"> New schedule</span></button>
    </Toolbar>
</AppRightSidebar>

@if(schedules != null)
{
    <Table Items="schedules" AutoGenerateColumns="false">
        <Columns>
            <Column 
                T="V1Schedule" 
                Name="Workflow"
                ValueProvider="s => s.Id"/>
            <Column T="V1Schedule"
                Name="CRON"
                ValueProvider="s => s.Definition.Cron!.Expression"/>
            <Column T="V1Schedule"
                Name="Valid until"
                ValueProvider="s => s.Definition.Cron!.ValidUntil" />
            <Column T="V1Schedule"
                Name="Interval"
                ValueProvider="s => s.Definition.Interval" />
            <Column T="V1Schedule"
                Name="Last occurence"
                ValueProvider="s => s.LastOccuredAt" />
            <Column T="V1Schedule"
                Name="Next occurence"
                ValueProvider="s => s.NextOccurenceAt" />
            <Column T="V1Schedule"
                Name="Total occurences"
                ValueProvider="s => s.TotalOccurences"/>
        </Columns>
    </Table>
}
else
{
    <Loader />
}
@code{

    private IDisposable subscription = null!;
    private List<V1Schedule>? schedules;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        await this.BreadcrumbManager.Use(Breadcrumbs.Schedules);
        this.subscription = ScheduleCollectionStateSelectors.SelectedSchedules(this.Store)
            .Subscribe(schedules =>
            {
                this.schedules = schedules;
                this.StateHasChanged();
            });
        this.Dispatcher.Dispatch(new QuerySchedules());
    }

    void OnNewSchedule()
    {
        this.NavigationManager.NavigateTo("/schedules/new");
    }

    protected override void Dispose(bool disposing)
    {
        base.Dispose(disposing);
        if (disposing) this.subscription?.Dispose();
    }

}