@*
    Copyright © 2022-Present The Synapse Authors

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
*@

@namespace Synapse.Dashboard

@if (state != null)
{
    <table class="table table-striped">
        <tbody>
            <ExpandableDataRow>
                <Header><td colspan="2"><h6>Action</h6></td></Header>
                <Body>
                    <td colspan="2">
                         <ActionEditor
                        Action="state.Action"
                        OnChange="async a => await OnChangeAsync(s => s.Action = a)" />
                    </td>
                </Body>
            </ExpandableDataRow>
            <tr>
                <td>Callback event</td>
                <td>
                    <EventSelector
                    EventKind="EventKind.Consumed"
                    Selected="string.IsNullOrWhiteSpace(state.Event) ? null : Workflow.GetEvent(state.Event)"
                    Events="Workflow.Events?.Where(e => e.Kind == EventKind.Consumed).ToList()"
                    OnChange="async e => await OnChangeAsync(s => s.Event = e.Name)"/>
                </td>
            </tr>
            <ExpandableDataRow>
                <Header><td colspan="2"><h6>Event data filter</h6></td></Header>
                <Body>
                    <td colspan="2">
                        <EventDataFilterEditor
                        DataFilter="state.EventDataFilter"
                        OnChange="async f => await OnChangeAsync(s => s.EventDataFilter = f)"/>
                    </td>
                </Body>
            </ExpandableDataRow>
        </tbody>
    </table>
}

@code {
    [CascadingParameter] public WorkflowDefinition Workflow { get; set; } = null!;

    private CallbackStateDefinition? state = null;
    [Parameter] public CallbackStateDefinition? State { get; set; }

    [Parameter] public EventCallback OnChange { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        await base.OnParametersSetAsync();
        if (this.state != this.State)
        {
            this.state = this.State;
            if (this.state != null && this.state.Action == null)
                this.state.Action = new() { Function = new() { RefName = "undefined" } };
        }  
    }

    protected virtual async Task OnChangeAsync(Action<CallbackStateDefinition>? patch = null)
    {
        if (this.state == null)
            return;
        if(patch != null)
            patch(this.state);
        if (this.state.EventDataFilter.UseData
            && string.IsNullOrWhiteSpace(this.state.EventDataFilter.Data)
            && string.IsNullOrWhiteSpace(this.state.EventDataFilter.ToStateData))
            this.state.EventDataFilter = null!;
        await this.OnChange.InvokeAsync(this.state);
        this.StateHasChanged();
    }

}
