@* 
    Copyright © 2022-Present The Synapse Authors

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
*@

@namespace Synapse.Dashboard

@if(this.state != null)
{
    <table class="table table-striped">
        <tbody>
            <tr>
                <td>Duration</td>
                <td>
                    <input type="time" value="@state.Duration" title="The duration for which to sleep" required class="form-control" 
                    @onchange="async e => await OnChangedAsync(s => s.Duration = TimeSpan.Parse((string)e.Value!))"/>
                </td>
            </tr>
        </tbody>
    </table>
}

@code {

    private SleepStateDefinition? state = null;
    [Parameter] public SleepStateDefinition? State { get; set; }

    [Parameter] public EventCallback OnChange { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        await base.OnParametersSetAsync();
        if (this.state != this.State) {
            this.state = this.State;
        }
    }

    protected virtual async Task OnChangedAsync(Action<SleepStateDefinition> patch)
    {
        if (this.state == null)
            return;
        patch(this.state);
        await this.OnChange.InvokeAsync();
        this.StateHasChanged();
    }

}
