@* 
    Copyright © 2022-Present The Synapse Authors

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
*@

@namespace Synapse.Dashboard

<table class="table table-striped">
    <tbody>
        <tr>
            <td>Use data</td>
            <td>
                <input type="checkbox" placeholder="0.1.0" required checked="@(dataFilter == null ? true : dataFilter.UseData)" value="@dataFilter?.UseData" title="Indicates whether or not to use the action's output'" class="form-check-input"
                @onchange="async e => await OnUseDataChangedAsync((bool)e.Value!)"/>
            </td>
        </tr>
        <tr>
            <td>Data</td>
            <td>
                <input type="text" value="@dataFilter?.Data" disabled="@(!dataFilter?.UseData)" placeholder="${ . }" title="A runtime expression used to filter the event data" class="form-control"
                @onchange="async e => await OnChangeAsync(f => f.Data = (string)e.Value!)"/>
            </td>
        </tr>

        <tr>
            <td>To state data</td>
            <td>
                <input type="text" value="@dataFilter?.ToStateData" disabled="@(!dataFilter?.UseData)" placeholder="${ . }" title="A runtime expression used to select state data elements to which the event's data should be merged" class="form-control"
                @onchange="async e => await OnChangeAsync(f => f.ToStateData = (string)e.Value!)"/>
            </td>
        </tr>
    </tbody>
</table>

@code {
    [CascadingParameter] public WorkflowDefinition Workflow { get; set; } = null!;

    private EventDataFilterDefinition? dataFilter;
    [Parameter] public EventDataFilterDefinition? DataFilter { get; set; }

    [Parameter] public EventCallback<EventDataFilterDefinition> OnChange { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        await base.OnParametersSetAsync();
        if (this.DataFilter == this.dataFilter)
            return;
        this.dataFilter = this.DataFilter;
    }

    protected virtual async Task OnUseDataChangedAsync(bool useResults)
    {
        if (this.dataFilter == null)
            this.dataFilter = new();
        await this.OnChangeAsync(f =>
        {
            f.UseData = useResults;
            if (!useResults)
            {
                f.Data = null;
                f.ToStateData = null;
            }
        });
    }

    protected virtual async Task OnChangeAsync(Action<EventDataFilterDefinition> patch)
    {
        if (this.dataFilter == null)
            this.dataFilter = new();
        patch(this.dataFilter);

        await this.OnChange.InvokeAsync(this.dataFilter);
        this.StateHasChanged();
    }

}
