@* 
    Copyright © 2022-Present The Synapse Authors

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
*@

@namespace Synapse.Dashboard

@if(eventCase != null)
{
    <table class="table table-striped">
        <tbody>
            <tr>
                <td>Name</td>
                <td>
                    <input type="text" value="@eventCase.Name" required placeholder="My event case name" title="The name of the case" class="form-control"
                    @onchange="async e => await OnChangeAsync(c => c.Name = (string)e.Value!)"/>
                </td>
            </tr>
            <tr>
                <td>Event</td>
                <td>
                    <EventSelector 
                        Selected="string.IsNullOrWhiteSpace(eventCase.Event) ? null : Workflow.GetEvent(eventCase.Event)"
                        Events="Workflow.Events?.Where(e => e.Kind == EventKind.Consumed).ToList()"/>
                    <input type="text" value="@eventCase.Event" placeholder="My event" title="The event of the case" class="form-control"
                       @onchange="async e => await OnChangeAsync(c => c.Event = (string)e.Value!)" />
                </td>
            </tr>
            <tr>
                <td>Outcome</td>
                <td>
                    <OutcomeEditor
                        ForbiddenTransitions="new(){ this.state }"
                        Outcome="eventCase.GetOutcome()"
                        OnChange="async e => await OnChangeAsync(c => c.SetOutcome(e))"/>
                </td>
            </tr>
        </tbody>
    </table>
}

@code {
    [CascadingParameter] public WorkflowDefinition Workflow { get; set; } = null!;

    private SwitchStateDefinition? state;
    [Parameter] public SwitchStateDefinition? State { get; set; }

    private EventCaseDefinition? eventCase;
    [Parameter] public EventCaseDefinition? EventCase { get; set; }

    [Parameter] public EventCallback<EventCaseDefinition?> OnChange { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        await base.OnParametersSetAsync();
        if (this.eventCase != this.EventCase)
            this.eventCase = this.EventCase;
        if (this.state != this.State)
            this.state = this.State;
    }

    protected virtual async Task OnChangeAsync(Action<EventCaseDefinition>? patch)
    {
        if (this.eventCase == null)
            return;
        if (patch != null)
            patch(this.eventCase);
        await this.OnChange.InvokeAsync(this.eventCase);
        this.StateHasChanged();
    }

}
