@* 
    Copyright © 2022-Present The Synapse Authors

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
*@

@namespace Synapse.Dashboard

<table class="table table-striped">
    <tbody>
        <tr>
            <td>Input</td>
            <td>
                <input type="text" value="@dataFilter?.Input" placeholder="${ . }" title="A runtime expression used to filter the state's input data'" class="form-control"
                @onchange="async e => await OnChangeAsync(f => f.Input = (string)e.Value!)"/>
            </td>
        </tr>
        <tr>
            <td>Output</td>
            <td>
                <input type="text" value="@dataFilter?.Output" placeholder="${ . }" title="A runtime expression used to filter the state's output data'" class="form-control"
                @onchange="async e => await OnChangeAsync(f => f.Output = (string)e.Value!)"/>
            </td>
        </tr>
    </tbody>
</table>

@code {
    [CascadingParameter] public WorkflowDefinition Workflow { get; set; } = null!;

    private StateDataFilterDefinition? dataFilter;
    [Parameter] public StateDataFilterDefinition? DataFilter { get; set; }

    [Parameter] public EventCallback<StateDataFilterDefinition> OnChange { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        await base.OnParametersSetAsync();
        if (this.DataFilter == this.dataFilter)
            return;
        this.dataFilter = this.DataFilter;
    }

    protected virtual async Task OnChangeAsync(Action<StateDataFilterDefinition> patch)
    {
        if (this.dataFilter == null)
            this.dataFilter = new();
        patch(this.dataFilter);
        if (string.IsNullOrWhiteSpace(this.dataFilter.Input)
        && string.IsNullOrWhiteSpace(this.dataFilter.Output))
            this.dataFilter = null;
        await this.OnChange.InvokeAsync(this.dataFilter);
        this.StateHasChanged();
    }

}
