@page "/workflow-instances"
@attribute [Authorize]
@namespace Synapse.Dashboard.Pages.WorkflowInstances.List
@using BlazorBootstrap
@inherits NamespacedResourceManagementComponent<View, WorkflowInstanceListComponentStore, WorkflowInstanceListState, WorkflowInstance>

<ApplicationTitle>Workflow Instances</ApplicationTitle>

<WorkflowInstancesList Loading="Loading"
                       Title="Title()"
                       Workflows="Workflows"
                       Namespaces="Namespaces"
                       WorkflowInstances="Resources"
                       OnWorkflowChanged="OnWorkflowChanged"
                       OnNamespaceChanged="OnNamespaceChanged"
                       OnSearchInput="OnSearchInput"
                       OnShowDetails="OnShowResourceDetailsAsync"
                       OnDelete="OnDeleteResourceAsync"></WorkflowInstancesList>

<Button Outline="true" Color="ButtonColor.Primary" @onclick="async _ => await OnShowResourceEditorAsync()"><Icon Name="IconName.Plus" /></Button>

<Offcanvas @ref="DetailsOffCanvas" Size="OffcanvasSize.Large" UseStaticBackdrop="false" BodyCssClass="d-flex flex-column" />

<Offcanvas @ref="EditorOffCanvas" Size="OffcanvasSize.Large" UseStaticBackdrop="false" BodyCssClass="d-flex flex-column" />

<ConfirmDialog @ref="Dialog" />

@code{

    /// <summary>
    /// Gets the list of available <see cref="Workflow"/>s
    /// </summary>
    protected EquatableList<Workflow>? Workflows { get; set; }

    /// <inheritdoc/>
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        this.Store.Workflows.Subscribe(workflows => this.OnStateChanged(cmp => cmp.Workflows = workflows), token: this.CancellationTokenSource.Token);
        await this.Store.ListWorkflowsAsync().ConfigureAwait(false);
    }

    RenderFragment Title() => __builder =>
    {
        <h4>Workflow Instances</h4>
    };

    /// <summary>
    /// Handles changes of the workflow selector
    /// </summary>
    /// <param name="e"></param>
    protected void OnWorkflowChanged(ChangeEventArgs e)
    {
        var workflowQualifiedName = e.Value?.ToString();
        if (string.IsNullOrWhiteSpace(workflowQualifiedName))
        {
            this.Store.RemoveLabelSelector(SynapseDefaults.Resources.Labels.Workflow);
        }
        else
        {
            this.Store.AddLabelSelector(new(SynapseDefaults.Resources.Labels.Workflow, LabelSelectionOperator.Equals, workflowQualifiedName));
        }
    }

    string GetStatusClass(WorkflowInstance instance)
    {
        return instance.Status?.Phase switch
        {
            WorkflowInstanceStatusPhase.Pending => "border-secondary text-secondary",
            WorkflowInstanceStatusPhase.Running => "border-primary text-primary",
            WorkflowInstanceStatusPhase.Faulted => "border-danger text-danger",
            WorkflowInstanceStatusPhase.Cancelled => "border-warning text-warning",
            WorkflowInstanceStatusPhase.Completed => "border-success text-success",
            _ => "border-secondary text-secondary"
        };
    }

}