@namespace Synapse.Dashboard

<div class="loader-container">
    <svg class="logo-viewbox" viewBox="0 0 612 567" xml:space="preserve">
        <use xlink:href="#brain" class="orange animation-in-out" />
        <use xlink:href="#s1-definition" class="blue animation-in-out" />
        <use xlink:href="#y-definition" class="blue animation-in-out" />
        <use xlink:href="#n-definition" class="blue animation-in-out" />
        <use xlink:href="#a-definition" class="blue animation-in-out" />
        <use xlink:href="#p-definition" class="blue animation-in-out" />
        <use xlink:href="#s2-definition" class="blue animation-in-out" />
        <use xlink:href="#e-definition" class="blue animation-in-out" />
    </svg>
</div>