@* 
    Copyright © 2022-Present The Synapse Authors
    <p>
    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at
    <p>
    http://www.apache.org/licenses/LICENSE-2.0
    <p>
    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
*@

@namespace Synapse.Dashboard
@inherits ModalBase

<div class="modal fade @(Active ? "show d-block" : "d-none")" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered @modalSizeClass" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">@Title</h5>
                @if (ShowCloseIcon)
                {
                    <button type="button" class="close btn" data-dismiss="modal" aria-label="Close" @onclick="HideAsync">
                        <small class="oi oi-x"></small>
                    </button>
                }
                
            </div>
            <div class="modal-body">
                @Body
            </div>
            <div class="modal-footer btn-group d-flex">
                @Footer
            </div>
        </div>
    </div>
</div>

@if (Active)
{
    <div class="modal-backdrop fade show"></div>
}

@code 
{

    [Parameter] public RenderFragment Title { get; set; }

    [Parameter] public RenderFragment Body { get; set; }

    [Parameter] public RenderFragment Footer { get; set; }

}
