<#@ template debug="true" hostSpecific="true" language="c#" #>
<#@ output extension=".tst" #>
<#@ include file="TemplateGenerator.ttinclude" #>
<#  GenerateTemplate("Synapse", "event", "Domain.Events.*"); #>