@page "/authentication"
@inject IOptions<ApplicationOptions> Options

<ApplicationTitle>Authentication</ApplicationTitle>

<div class="nav-item px-3">
    <AuthorizeView>
        <Authorized>
            <form action="authentication/logout" method="post">
                <AntiforgeryToken />
                <input type="hidden" name="ReturnUrl" value="/" />
                <button type="submit" class="nav-link">
                    <span class="bi bi-arrow-bar-left-nav-menu" aria-hidden="true"></span>
                     Logout @context.User.Identity?.Name
                </button>
            </form>
        </Authorized>
        <NotAuthorized>
            <a class="nav-link" href="authentication/bearer/login">
                <span class="bi bi-person-badge-nav-menu" aria-hidden="true"></span>
                Use Static Token
            </a>
            <a class="nav-link" href="authentication/oidc/login">
                <span class="bi bi-person-badge-nav-menu" aria-hidden="true"></span>
                Use OpenID Connect
            </a>
        </NotAuthorized>
    </AuthorizeView>
</div>

