@import "../lib/open-iconic/font/css/open-iconic-bootstrap";
@import "./theme";
@import "./splash";

* {
    padding: 0;
    margin: 0;
}

#blazor-error-ui {
    background: $warning;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(var(--bs-black-rgb), 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}

.form-control.invalid {
    border-color: red;
}

input[type=time]::-webkit-datetime-edit-ampm-field {
    display: none;
}

input[type=time]::-webkit-clear-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    -ms-appearance: none;
    appearance: none;
    margin: -10px;
}

.cursor-pointer {
    cursor: pointer;
}

.flex-grow {
    flex-grow: 1;
}

.default.group .port {
    width: 0px !important;
    height: 0px !important;
    margin: 0px !important;
}

.monaco-normal {
    height: 500px !important;
}

.monaco-small {
    height: 300px !important;
}

.monaco-extra-small {
    height: 100px !important;
}

.oi {
    width: 16px;
}

.toast-container {
    z-index: 1 !important;
    position: fixed !important;
    width: 25rem !important;
    top: 0px !important;
    right: 0px !important;
}

.end-node circle {
    stroke-width: 3px;
}

.btn-outline-dark:hover {
    fill: white;
}

.node, .cluster {
    &.active {
        rect {
            fill: rgba(var(--bs-info-rgb), .2);
        }
    }

    .badge {
        circle {
            stroke-width: 0;
            fill: var(--bs-primary);
        }

        foreignObject {
            text-align: center;
            font-size: 8px;
            color: white;

            div {
                display: flex;
                align-content: center;
                align-items: center;
                justify-content: center;
            }
        }
    }

    .activity-badge {
        &.activity-badge--active circle {
            fill: var(--bs-success);
        }

        &.activity-badge--faulted circle {
            fill: var(--bs-danger);
        }
    }

    .add-state {
        .add-state__label {
            font-size: 12px;
            font-weight: bold;
        }
    }
}

.toolbar {
    .btn {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.edges {
    pointer-events: none;

    .used-for-compensation {
        path {
            stroke-dasharray: 4;
        }
    }
}

.ghost {
    opacity: 0.3;
    pointer-events: none;
}

.drop-destination {
    rect,
    circle,
    ellipse {
        stroke: red;
        stroke-width: 2px;
        stroke-dasharray: 2;
    }
}
.card-metric {
    box-shadow: 2px 2px 10px var(--bs-gray-200);
    margin: 5px;
    padding: 10px;
    background-color: var(--bs-white);
    border-radius: 5px;
    transition: 0.3s linear all;
}

.card-metric:hover {
    box-shadow: 4px 4px 20px var(--bs-gray-200);
    transition: 0.3s linear all;
}

.card-metric.info {
    background-color: var(--bs-info);
    color: var(--bs-white);
}

.card-metric.danger {
    background-color: var(--bs-danger);
    color: var(--bs-white);
}

.card-metric.success {
    background-color: var(--bs-success);
    color: var(--bs-white);
}

.card-metric.secondary {
    background-color: var(--bs-secondary);
    color: var(--bs-white);
}

.card-metric.warning {
    background-color: var(--bs-warning);
    color: var(--bs-white);
}

.card-metric i {
    font-size: 5em;
    opacity: 0.2;
}

.card-metric .card-metric-value {
    font-size: 32px;
    display: block;
}

.card-metric .card-metric-name {
    font-style: italic;
    text-transform: capitalize;
    opacity: 0.5;
    display: block;
    font-size: 18px;
}

table .details {
    text-align: right;
}