@import "./theme/_variables.scss";

.horizontal-collapse {
    border-right: 1px solid var(--bs-dark-bg-subtle);
    overflow: scroll;

    &:nth-last-child(1) {
        border: none;
    }

    .title {
        display: flex;
        gap: calc($spacer / 2);

        i {
            margin-left: auto;
        }
    }

    &:nth-child(1) .title {
        padding-left: 0 !important;
    }

    &.collapsed {
        overflow: hidden;

        .title {
            width: 22px;
            height: 100%;
            flex-direction: column;

            .label {
                display: block;
                transform: rotate(90deg) translate(3px);
                transform-origin: center;
            }

            i {
                margin-top: auto;
            }
        }
    }
}
