@import "./theme/_variables.scss";

:root,
[data-bs-theme=light] {
    --scroll-size: 8px;
    --scroll-radius: 0px;
    --scroll-track: #{$body-bg};
    --scroll-track-active: inherit;
    --scroll-thumb-color: inherit;
}

[data-bs-theme="dark"] {
    --scroll-track: #{$body-bg-dark};
    --scroll-track-active: #{$dark-bg-subtle-dark};
    --scroll-thumb-color: #{$primary-bg-subtle-dark};
}

::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}

::-webkit-scrollbar-thumb {
    background: var(--scroll-thumb-color);
    border: 0px none #ffffff;
    border-radius: $border-radius;
}

::-webkit-scrollbar-thumb:hover {
    background: $primary-dark;
}

::-webkit-scrollbar-thumb:active {
    background: $primary-dark;
}

::-webkit-scrollbar-track {
    background: var(--scroll-track);
    border: 0px none #ffffff;
    border-radius: $border-radius;
}

::-webkit-scrollbar-track:hover {
    background: var(--scroll-track-active);
}

::-webkit-scrollbar-track:active {
    background: var(--scroll-track-active);
}

::-webkit-scrollbar-corner {
    background: transparent;
}