@import "./theme/_variables.scss";

:root,
[data-bs-theme=light] {
    --scrollbar-background: #{$body-bg};
    --scrollbar-background-active: inherit;
    --scrollbar-thumb-background: inherit;
}

[data-bs-theme="dark"] {
    --scrollbar-background: #{$body-bg-dark};
    --scrollbar-background-active: #{$dark-bg-subtle-dark};
    --scrollbar-thumb-background: #{$primary-bg-subtle-dark};
}

::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}

::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb-background);
    border: 0px none #ffffff;
    border-radius: $border-radius;
}

::-webkit-scrollbar-thumb:hover {
    background: $primary-dark;
}

::-webkit-scrollbar-thumb:active {
    background: $primary-dark;
}

::-webkit-scrollbar-track {
    background: var(--scrollbar-background);
    border: 0px none #ffffff;
    border-radius: $border-radius;
}

::-webkit-scrollbar-track:hover {
    background: var(--scrollbar-background-active);
}

::-webkit-scrollbar-track:active {
    background: var(--scrollbar-background-active);
}

::-webkit-scrollbar-corner {
    background: transparent;
}