html,
body {
    width: 100%;
    height: 100%;
}

#logo-container, #animation-container {
    width: 100%;
    height: 100%;
    background-color: var(--bs-white);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#svg-definitions {
    display: none;
}

.logo-viewbox {
    width: 25%;
    display: block;
    fill: var(--bs-black);
    stroke: var(--bs-black);
}

#splash-viewbox {
    stroke-miterlimit: 5;
    stroke-dashArray: 2000;
    stroke-dashoffset: 2000;
    fill-opacity: 0;
}

.fade-out {
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-iteration: 1;
    animation-name: fade-out-animation;
    animation-duration: 1s;
    animation-delay: 3s;
}

@for $i from 1 to 8 {
  $duration1: 1.5;
  $duration2: 0.75;
  $duration3: 0.75;
  $delay1: $i/5;
  $delay2: $delay1+2.0;
  $delay3: $delay1+1.0;
  .animation-phase-#{$i} {
      animation-timing-function: ease-in-out;
      animation-fill-mode: forwards;
      animation-iteration: 1;
      animation-name: 
        stroke-draw-animation,
        stroke-fade-out-animation,
        fade-in-animation;
      animation-duration: #{$duration1}s, #{$duration2}s, #{$duration3}s;
      animation-delay: #{$delay1}s, #{$delay2}s, #{$delay3}s;
  } 
}

@keyframes stroke-draw-animation {
    to {
        stroke-dashOffset: 0;
    }
}

@keyframes stroke-fade-out-animation {
    to {
        stroke-opacity: 0;
    }
}

@keyframes fade-in-animation {
    to {
        fill-opacity: 1;
    }
}

@keyframes fade-out-animation {
    to {
        opacity: 0;
    }
}
