.workflow-instance-details {
    .label {
        font-weight: bolder;
    }
}

[data-bs-theme="dark"] {
    .workflow-instance-details {
        h6 {
            font-weight: bold;
        }

        .label {
            font-weight: lighter;
        }
    }
}