@using Blazor.Diagrams.Components.Renderers
@using Synapse.Dashboard.Models

<div class=end-node-container>
    <div class="border border-5 border-dark rounded-circle bg-white end-node">
        @foreach (var port in Node.Ports)
        {
            <PortRenderer Port="port" />
        }
    </div>
</div>

@code {

    [Parameter]
    public EndNodeModel Node { get; set; }

}
