@using Blazor.Diagrams.Components.Renderers
@using Synapse.Dashboard.Models

<div class="border border-dark rounded bg-white px-3 py-2 text-wrap text-center function-node">
    <div><b>@Node.Function.RefName</b></div>
    <div class="border border-dark rounded-circle bg-primary text-white p-3 position-absolute instance-counter"></div>
    @foreach (var port in Node.Ports)
    {
        <PortRenderer Port="port" />
    }
</div>

@code {

    [Parameter]
    public FunctionRefNodeModel Node { get; set; }

}
