@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar bg-dark">
        <NavMenu />
    </div>
    <div class="main">
        <div class="header px-4">
            <Header />
        </div>
        <div class="content p-4">
            @Body
        </div>
    </div>
</div>
<Toaster />