@using Blazor.Diagrams.Components.Renderers;
@using Synapse.Dashboard.Models

<div class="border border-dark rounded bg-white px-3 py-1 text-wrap text-center state-node">
    <div><b>@Node.State.Name</b></div>
    <div><small>@EnumHelper.Stringify(Node.State.Type)</small></div>
    @foreach (var port in Node.Ports)
    {
        <PortRenderer Port="port" />
    }
</div>

@code {

    [Parameter]
    public WorkflowStateNodeModel Node { get; set; }

}