@page "/diagrams"

@using Blazor.Diagrams.Core
@using Blazor.Diagrams.Core.Geometry
@using Blazor.Diagrams.Core.Models
@using Blazor.Diagrams.Components
@using Blazor.Diagrams.Core.Models.Base
@using QG = QuikGraph
@using GraphShape.Algorithms.Layout
@using ServerlessWorkflow.Sdk
@using ServerlessWorkflow.Sdk.Models
@using Synapse.Dashboard.Models

<div class="diagram-container">
  <CascadingValue Value="Diagram">
    <DiagramCanvas></DiagramCanvas>
  </CascadingValue>
</div>

@implements IDisposable
@code {

    [Parameter]
    public Diagram Diagram { get; set; } = null!;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        this.Diagram.SelectionChanged += this.OnNodeSelectionChanged;
    }

    public void Dispose()
    {
        this.Diagram.SelectionChanged -= this.OnNodeSelectionChanged;
    }

    private void OnNodeSelectionChanged(SelectableModel elem)
    {
        if (!elem.Selected
         || elem is not NodeModel node)
            return;

    }


}
