﻿@*
    Copyright © 2024-Present The Synapse Authors

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
*@

@namespace Synapse.Dashboard.Components
@page "/about"

<PageTitle>Synapse - About</PageTitle>

<a class="navbar-brand" href="#">
    <div class="text-center">
        <svg class="logo logo-large" viewBox="0 0 40 40">
            <use xlink:href="#logo" />
        </svg>
    <h1 class="logo-typing logo-typing-large">Synapse</h1>
    </div>
</a>

<div class="container">
    <table class="table table-striped table-bordered my-3">
        <tbody>
            <tr>
                <td>Version</td>
                <td>
                    <a href="https://github.com/serverlessworkflow/synapse/releases" target="_blank"><span class="badge bg-primary">@typeof(MainLayout).Assembly.GetName().Version!.ToString(3)</span></a>
                </td>
            </tr>
            <tr>
                <td>License</td>
                <td><a href="https://raw.githubusercontent.com/serverlessworkflow/synapse/main/LICENSE" target="_blank">Apache 2.0</a></td>
            </tr>
            <tr>
                <td>Copyright</td>
                <td>Copyright © 2024-Present The Synapse Authors. All Rights Reserved.</td>
            </tr>
            <tr>
                <td>Repository</td>
                <td><a href="https://github.com/serverlessworkflow/synapse/" target="_blank">https://github.com/serverlessworkflow/synapse/</a></td>
            </tr>
        </tbody>
    </table>
</div>

<div class="row mt-5">
    <div>
        <div class="text-center">
            <img src="img/github-logo.png" height="100" alt="GitHub logo" />
            <p class="mt-3">
                A question, an idea, want to contribute?
                <br />
                Join in the fun on <a href="https://github.com/serverlessworkflow/synapse" target="_blank">GitHub</a>!
                New contributors are welcome!
            </p>
        </div>
    </div>
</div>