@import "../../lib/bootstrap/scss/functions";

$primary: #8c68cd !default;
$primary-text: $primary;
$primary-bg-subtle: #7d59bd !default;
$primary-border-subtle: #714db1 !default;

@import "../../lib/bootstrap/scss/variables";

$primary-dark: $primary;
$primary-text-dark: $primary;
$primary-bg-subtle-dark: $primary-bg-subtle;
$primary-border-subtle-dark: $primary-border-subtle;
$link-color-dark: $purple-400 !default;
$link-hover-color-dark: $purple-200 !default;

@import "../../lib/bootstrap/scss/variables-dark";
