@import "../../lib/bootstrap/scss/functions";

$primary: #8c68cd !default;
$primary-text: $primary;
$primary-bg-subtle: #7d59bd !default;
$primary-border-subtle: #714db1 !default;
$secondary: #3c8cd6 !default;
$variable-prefix: bs- !default; // Deprecated in v5.2.0 for the shorter `$prefix`
$prefix: $variable-prefix !default;
$accordion-button-active-color: var(--#{$prefix}primary-text-dark) !default;

@import "../../lib/bootstrap/scss/variables";

$primary-dark: $primary;
$primary-text-dark: $primary;
$primary-bg-subtle-dark: $primary-bg-subtle;
$primary-border-subtle-dark: $primary-border-subtle;
$secondary-dark: $secondary;
$secondary-text-dark: $secondary;
$accent: #009696 !default;
$accent-dark: $accent;
$accent-text-dark: $accent;
$mute: $gray-600 !default;
$mute-dark: $mute;
$mute-text-dark: $mute;
$link-color-dark: $purple-400 !default;
$link-hover-color-dark: $purple-200 !default;

@import "../../lib/bootstrap/scss/variables-dark";
@import "../../lib/bootstrap/scss/maps";
@import "../../lib/bootstrap/scss/mixins";
@import "../../lib/bootstrap/scss/utilities";

$theme-colors: map-merge( $theme-colors, ( "accent": $accent, "mute": $mute ) );
