@page "/authentication/bearer/login"
@inject ISecurityTokenManager SecurityTokenManager
@inject NavigationManager NavigationManager
@inject ApplicationAuthenticationStateProvider AuthenticationStateManager

<ApplicationTitle>Token Authentication</ApplicationTitle>
<div class="container flex-grow d-flex align-items-center">
    <div class="w-100">
        <input type="password" class="form-control mb-3 text-center" @bind="token" @onkeydown="OnEnterKeyDown" placeholder="Static bearer token" />
        <button @ref="loginButton" class="btn btn-primary w-100 mb-3" disabled="@string.IsNullOrWhiteSpace(token)" @onclick="OnLoginAsync">Login</button>
    </div>
</div>

@code {

    ElementReference loginButton;
    string? token;

    async Task OnLoginAsync()
    {
        if (string.IsNullOrWhiteSpace(token)) return;
        await SecurityTokenManager.SetTokenAsync(token);
        AuthenticationStateManager.NotifyNotifyAuthenticationStateChanged();
        NavigationManager.NavigateTo("/");
    }

    async Task OnEnterKeyDown(KeyboardEventArgs e)
    {
        if (e.Key != "Enter") return; 
        await loginButton.FocusAsync();
        await this.OnLoginAsync();
    }

}