@namespace Synapse.Dashboard
@inherits LayoutComponentBase

<div class="page h-100">
    <NavMenu />
    <div class="main d-flex flex-column">
        <Header />
        <Breadcrumb />
        <div class="content p-4">
            @Body
        </div>
    </div>
</div>
<Toaster />