@namespace Synapse.Dashboard
@inherits LayoutComponentBase

<div class="page">
    <NavMenu />
    <div class="main">
        <Header />
        <Breadcrumb />
        <div class="content p-4">
            @Body
        </div>
    </div>
</div>
<Toaster />