.header {
  padding: 0 !important;
  flex-direction: column;
}
.header .navbar-brand {
  background-color: rgba(var(--bs-black-rgb), 0.4);
  height: 3rem;
  margin-right: 0 !important;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.header .navbar-brand .logo-container {
  margin: auto;
  width: 200px;
}
.header .white {
  fill: var(--bs-white);
  stroke: var(--bs-white);
}
.header .logo {
  height: 100%;
}
.header .logotype {
  height: 66.6%;
}
.header .nav-item ::deep a {
  color: var(--bs-gray-100);
  height: 3rem;
  display: flex;
  align-items: center;
  line-height: 3rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  font-weight: 600;
}
.header .nav-item ::deep a.active {
  background-color: var(--bs-white);
  color: var(--bs-black);
}
.header .nav-item ::deep a:hover {
  background-color: rgba(var(--bs-white-rgb), 0.1);
  color: white;
}
.header .bi {
  margin-right: 0.5rem;
}

@media (min-width: 992px) {
  .header {
    flex-direction: row;
  }
}
