@using System.ComponentModel
@namespace Synapse.Dashboard
@inject ILayoutService Layout;
@implements IDisposable

@if (Layout.RightSidebar != null)
{
    <div class="right-sidebar me-4">
        @Layout.RightSidebar?.ChildContent
    </div>
}

@code
{
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        this.Layout.PropertyChanged += OnLayoutChanged;
    }

    private void OnLayoutChanged(object? sender, PropertyChangedEventArgs e)
    {
        if (e.PropertyName == nameof(ILayoutService.RightSidebar))
        {
            this.StateHasChanged();
        }
    }

    public void Dispose()
    {
        if (this.Layout != null)
            this.Layout.PropertyChanged -= this.OnLayoutChanged;
        GC.SuppressFinalize(this);
    }
}