@namespace Synapse.Dashboard
@inherits LayoutComponentBase

<div class="page h-100 d-flex flex-column">    
    <nav class="header navbar navbar-expand-lg flex-row navbar-dark bg-dark-subtle">        
        <a class="navbar-brand d-flex flex-row align-items-center justify-content-center" href="#">        
            <svg class="logo" viewBox="-10 -10 60 60">
                <use xlink:href="#logo" />
            </svg>
            <span class="logo-typing">Synapse</span>
        </a>
        <div class="navbar-collapse">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                        <span class="btn-label">Workflows</span>
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="correlations" Match="NavLinkMatch.All">
                        <span class="btn-label">Correlations</span>
                    </NavLink>
                </li>
                <li class="nav-item">
                    <div class="dropdown">
                        <button class="btn text-muted dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                            <span class="btn-label">Services</span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <li>
                                <NavLink class="nav-link" href="correlators" Match="NavLinkMatch.All">
                                    <span class="btn-label">Correlators</span>
                                </NavLink>
                            </li>
                            <li>
                                <NavLink class="nav-link" href="operators" Match="NavLinkMatch.All">
                                    <span class="btn-label">Operators</span>
                                </NavLink>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="about" Match="NavLinkMatch.All">
                        <span class="btn-label">About</span>
                    </NavLink>
                </li>
            </ul>
        </div>
    </nav>
    <div class="content flex-grow d-flex flex-column p-3">
        @Body
    </div>
</div>