@using Neuroglia.Data.Flux
@using Synapse.Dashboard.Features.Test
@using System.Reactive.Linq
@inherits StatefulComponent<CounterState>

<div>
    <label>Count: </label>
    <input type="number" value="@(State.Count)" readonly class="form-control" />
</div>
<button @onclick="OnIncrement" class="btn btn-block btn-primary">Increment</button>
<button @onclick="OnDecrement" class="btn btn-block btn-primary">Decrement</button>

@code{

    protected override void OnInitialized()
    {
        base.OnInitialized();
    }

    private void OnIncrement()
    {
        this.Dispatcher.Dispatch(new Increment(1));
    }

    private void OnDecrement()
    {
        this.Dispatcher.Dispatch(new Decrement(1));
    }

}