.add-state-contextual-menu {
    position: fixed;
    gap: 0.5rem;
    padding: 0.5rem;
    background-color: var(--bs-body-bg);
    width: 150px;
    z-index: 1055;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}

.add-state-contextual-menu__backdrop {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1054;
}